.nature-slider .splide__slide {
  opacity: 0.45;
  transform: scale(0.9);
  transition: 0.4s ease;
}

.nature-slider .splide__slide.is-active {
  opacity: 1;
  transform: scale(1);
}

.nature-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}
