.nature-slider .splide__slide {
  opacity: 0.45;
  transform: scale(0.9);
  transition: 0.4s ease;
}

.nature-slider .splide__slide.is-active {
  opacity: 1;
  transform: scale(1);
}

.nature-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}

.nature-title {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  margin-top: 80px;
}
