.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item a{
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  color: black;
}
.nav-list {
  display: flex;
  gap: 45px;
  list-style: none;
}
.nav {
  display: flex;
  align-items: center;
  gap: 111px;
}
.sign-in {
  display: flex;
  align-items: center;
  gap: 27px;
}
.sign-in-btn {
  border: none;
  width: 89;
  height: 35;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  gap: 10px;
  background-color: #ffb36c;
}
