.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .nav-modal {
    display: flex;
    gap: 100px;
  }

  & .burger-menu {
    display: none;
  }

  @media screen and (max-width: 1440px) {
    & .nav-item a {
      font-family: Montserrat Alternates;
      font-weight: 500;
      font-style: Medium;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0%;

    }

    & .nav-list {
      gap: 25px;
    }

    & .sign-in-btn {
      width: 70px;
      height: 30px;
      padding-top: 8px;
      padding-right: 15px;
      padding-bottom: 8px;
      padding-left: 15px;
      font-size: 10px;
    }

    & .username {
      font-size: 16px;
    }

    & .modal {
      width: 500px;
      height: 450px;
      gap: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    & .nav-list {
      flex-direction: column;
      gap: 20px;
    }

    & .sign-in {
      flex-direction: column-reverse;
      gap: 15px;

    }

    & .mobile-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    & .burger-menu {
      display: flex;
      background-color: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    display: flex;
    flex-direction: column;

    & .nav-modal {
      padding: 15px 40px 15px 40px;
      background-color: #E6E6E6;
      display: none;
      width: 100vw;
      height: 150px;
      gap: 10px;
      justify-content: space-between;
      box-shadow: inset 0px 2px 12px rgba(0, 0, 0, 0.3);

      &.active {
        display: flex;
      }
    }

    & .modal {
      width: 90%;
      height: 460px;

      & .signin-modal-form-wrap input {
        width: 100%;
      }

      & .modal-form button {
        width: 100%;
      }

      & .login-modal {
        width: 90%;
        height: 60vh;
      }
    }
  }
}


.nav-item a {
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  color: black;

  &:hover {
    color: #ffa14a;
  }
}

.nav-list {
  display: flex;
  gap: 45px;
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 111px;
}

.sign-in {
  display: flex;
  align-items: center;
  gap: 27px;
}

.sign-in-btn {
  border: none;
  width: 89;
  height: 35;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  gap: 10px;
  cursor: pointer;
  background-color: #ffb36c;

  &:hover {
    background-color: #ffa14a;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.active {
    display: flex;
  }
}

.modal {
  background-color: #fff;
  width: 600px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  gap: 40px;
  padding: 28px;
}

.signin-modal-form-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  & input {
    width: 440px;
    height: 50px;
    background-color: #e4e4e4;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ababab;
  }

  & label {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

    color: black;
  }
}

.modal-title {
  font-family: Montserrat Alternates;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 100%;
  color: black;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  & button {
    width: 114px;
    height: 37px;
    opacity: 1;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    gap: 10px;
    background-color: #ffb36c;
    border: none;

    cursor: pointer;

    &:hover {
      background-color: #ffa14a;
    }
  }
}

.log-in {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;

  & span {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
}

.unlogin-modal-form-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  & button {
    width: 114px;
    height: 37px;
    opacity: 1;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    gap: 10px;
    background-color: #ffb36c;
    border: none;

    cursor: pointer;

    &:hover {
      background-color: #ffa14a;
    }
  }
}

.modal-unlogin {
  background-color: #fff;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  gap: 40px;
  padding: 28px;
}

.modal-group {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & label {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

    color: black;
  }

  & input {
    width: 440px;
    height: 50px;
    background-color: #e4e4e4;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ababab;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  & button {
    width: 114px;
    height: 37px;
    opacity: 1;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    gap: 10px;
    background-color: #ffb36c;
    border: none;

    cursor: pointer;

    &:hover {
      background-color: #ffa14a;
    }
  }
}

.login-modal {
  background-color: #fff;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  gap: 40px;
  padding: 28px;
}

.username {
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: black;
}