footer {
    margin-top: 50px;
    background-color: #FFB36C;
    font-family: "Montserrat Alternates";
    padding: 40px 0 70px 0;
}

.footer-wrap {
    display: flex;
    gap: 103px;
    align-items: center;
    padding: 20px 0;
}

.addres-wrap p {
    width: 92px;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

}

.contact-name {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.contact-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-item a img {
    width: 24px;
    height: 24px;
}