.search-list {
    display: flex;
    gap: 90px;
    justify-content: center;
}

.search-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #E8E8E8;
    border-radius: 8px;
    width: 320px;
}

.city-wrap,
.forecast-wrap,
.date-wrap,
.item-btns {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.city-wrap {
    justify-content: space-between;


}

.forecast-wrap {
    justify-content: space-around;

    & button {
        border: none;
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 7px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
        background-color: #FFB36C;
        color: #000;
        width: 117;
        height: 28;
        opacity: 1;
        border-radius: 10px;
        padding-top: 8px;
        padding-right: 18px;
        padding-bottom: 8px;
        padding-left: 18px;

        &:hover {
            cursor: pointer;
            background-color: #FFA14A;
        }
    }
}

.date-wrap {
    justify-content: center;

    & p {
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;

        color: #000000;

        &:first-child {
            border-right: 3px solid black;
            padding: 10px;
        }
    }
}

.item-btns {
    justify-content: space-between;

    & button {
        border: none;
        background: none;
        cursor: pointer;

        & img {
            width: 20px;
            height: 20px;
        }

        &:nth-child(3) {
            background-color: #FFB36C;
            color: #000;
            width: 99;
            height: 28;
            border-radius: 10px;
            padding-top: 8px;
            padding-right: 25px;
            padding-bottom: 8px;
            padding-left: 25px;
            gap: 10px;

            &:hover {
                cursor: pointer;
                background-color: #FFA14A;
            }

        }
    }
}

.search-icon {
    width: 120px;
    height: 120px;

}

.temp {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;

}

.heart {
    fill: red;
}

.icon-heart-2 {
    &:hover {
        transform: scale(1.3);

        & .heart {
            fill: darkred;
        }
    }
}

.icon-trash-2 {
    &:hover {
        & use {
            fill: darkgray;
        }

        transform: scale(1.3);
    }
}

.icon-refresh {
    &:hover {
        & use {
            fill: darkgray;
        }

        transform: scale(1.3);
    }
}

.red {
    fill: red;
}

.blue {
    fill: blue;
}

.lightblue {
    fill: rgb(99, 203, 237);
}

.yellow {
    fill: yellow;
}

.see-more-list {
    margin-top: 80px !important;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px;
    background-color: #E8E8E8;
    border-radius: 20px;

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 290px;
        height: 220px;
        background-color: #D9D9D9;
        border-radius: 10px;

        & p {
            font-family: Montserrat;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;

            color: #000000;
        }

        & span {
            font-family: Montserrat;
            font-weight: 500;
            font-style: Medium;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;

            color: #000000;
        }

        & svg,
        & use {
            width: 100px;
            height: 100px;
        }
    }
}

.weekly-forecast {
    margin-top: 80px;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 10px;
    }
    padding: 40px;
    background-color: #E8E8E8;
    border-radius: 20px;
}

.weekly-card {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    background-color: #D9D9D9;
    padding: 0px 50px 0px 50px;

    & h3 {
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;

    }

    &>p {
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;

    }
}

.icon-temp-wrap {
    display: flex;
    align-items: center;
    gap: 5px;

    & img {
        width: 45px;
        height: 45px;
    }

    & p {
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;

    }
}