.search-list {
    display: flex;
    gap: 90px;
    justify-content: center;
}

.search-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #E8E8E8;
    border-radius: 8px;
    width: 320px;
}

.city-wrap,
.forecast-wrap,
.date-wrap,
.item-btns {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.city-wrap {
    justify-content: space-between;


}

.forecast-wrap {
    justify-content: space-around;

    & button {
        border: none;
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 7px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
        background-color: #FFB36C;
        color: #000;
        width: 117;
        height: 28;
        opacity: 1;
        border-radius: 10px;
        padding-top: 8px;
        padding-right: 18px;
        padding-bottom: 8px;
        padding-left: 18px;

    }
}

.date-wrap {
    justify-content: center;

    & p {
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;

        color: #000000;

        &:first-child {
            border-right: 3px solid black;
            padding: 10px;
        }
    }
}

.item-btns {
    justify-content: space-between;

    & button {
        border: none;
        background: none;
        cursor: pointer;

        &:nth-child(3) {
            background-color: #FFB36C;
            color: #000;
            width: 99;
            height: 28;
            border-radius: 10px;
            padding-top: 8px;
            padding-right: 25px;
            padding-bottom: 8px;
            padding-left: 25px;
            gap: 10px;

        }
    }
}

.search-icon {
    width: 120px;
    height: 120px;

}

.temp {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;

}